* {
text-align: center;
}
a{
  color: green;
  background-color: transparent;
  text-decoration: none;
  padding: 4px;
  font-size: 4rem;
}
.NovelLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
